@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


/* Estilo de pokedex y tamaño maximo delimitado*/
#dexbody {
    background-color: #dc0a2d;
    width: 80%;
    max-width: 850px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 14px 10px 14px 0 rgba(255, 255, 255, 0.3) inset,
      -6px -6px 10px 0 rgba(0, 0, 0, 0.25) inset;


}

/* Estilos para el titulo de la pokedex, luces mas logo pokedex */
.titulo-pokedex {
    display: grid;
    grid-template-columns: 150px 45px 45px 45px 1fr 20px;
    margin-top: 15px;
    
}

/* Estilos para el primer dexball, la mas grande. */
#dexball1 {
    background: radial-gradient(
      circle,
      rgb(205, 255, 255) 10%,
      rgb(24, 36, 148) 60%
    );
    height: 80px;
    width: 80px;
    margin: auto;
    border-radius: 50px; 
    border: 7px solid white;

    box-shadow: 
    0 0 5px rgba(0, 0, 0, 0.462), 
    0 0 5px rgba(0, 0, 0, 0.462);
}
  
/* Estilos para los demas dexballs. */
#dexball2 {
  background: radial-gradient(circle, rgb(255, 129, 129) , #ff3c38 45%);
  height: 30px;
  width: 30px;
  margin: auto;
  border-radius: 50px;

  box-shadow: 
  0 0 5px rgba(0, 0, 0, 0.462), 
  0 0 5px rgba(0, 0, 0, 0.462);
}

#dexball3 {
    background: radial-gradient(
        circle,
        rgba(255, 254, 179, 1) 5%,
        rgba(251, 239, 76, 1) 45%
    );
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 50px;

    box-shadow: 
    0 0 5px rgba(0, 0, 0, 0.462), 
    0 0 5px rgba(0, 0, 0, 0.462);
}

#dexball4 {
    background: radial-gradient(circle, rgb(179, 255, 204) 5%, #4ff017 45%);
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 50px;

    box-shadow: 
    0 0 5px rgba(0, 0, 0, 0.462), 
    0 0 5px rgba(0, 0, 0, 0.462);
}

/* Estilos para el logo de la pokedex, centrarlo, tamaño maximo y posicionarlo */
#logo-pokedex {
    width: 170px;
    margin-left: 10%;
}

/* Estilos para el contenedor el que contiene la pokedex */
/* .container-pokedex {
    
} */
 

/* Estilos para la pantalla de la pokedex y el contorno negro estylo gameboy */
#screen {
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    width: 85%;
    max-width: 850px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 15px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.329) inset,
        -3px -3px 3px 0 rgba(0, 0, 0, 0.25) inset;
}

/* Estilos para la pantalla de la pokedex */
#pokecard {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%; 
}

/* Estilos para la imagen de la Pokébola en el fondo */
.img-pokeball-background {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 300px;
    height: 300px;
 
    z-index: 0; 
    opacity: 0.2;
}



/* Estilos para el nombre */
.poke-name {
    font-size: 2rem; 
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px; 
    z-index: 1;
}


/* Estilos para la imagen */
.poke-img {
    width: 170px; 
    height: 170px;
    margin-bottom: 20px;
}

.flechaizquierda, .flechaderecha {
    cursor: pointer;
}
    


.poke-img-container {
    z-index: 2;

    display: flex;
    gap: 30px;

}

.card-form {
    background-color: #f5f5f5ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    
    width: 80%;
    padding: 0 30px;

    margin-bottom: 15px;
    margin-top: -50px;

    z-index: 1;
  
}

li {
    list-style: none;
}

.pokemon-img-shiny-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    padding-top: 35px;
}

/* Estilos para el ID */
.poke-id {
    font-size: 18px;
    color: #888;
    margin: 10px 0; 
}

/* Estilos para los botónes */
button {
    background-color: #dc0a2d;
    color: #f5f5f5ff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para la altura y el peso */
.poke-height-weight {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}

/*Estilos para los tipos*/
.poke-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Estilos contenedores para los tipos de pokemon */
.type {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}


/* Estilos para las estadísticas */
.poke-stats {

    text-align: left;
    color: #444;
}

.poke-stats li {
    margin-bottom: 8px;
}

.stat-row {
    display: flex;
    gap: 10px;
}

.stat-bar {
    flex-grow: 1;
    margin-right: 10px;
    background-color: #ccc;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.bar-inner {
    height: 100%;
}

.stat-desc, .stat-number {
    font-weight: bold;
}

.stat-desc {
    width: 85px;
}

/* Estilos para el numero de estadisticas */
.stat-number {
    width: 5%;
    text-align: right;
}

/* Estilos para la cruz de cierre del modal */
span.close {
    position: relative;
    top: -10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    z-index: 2;
}


@media (max-width: 680px){

    body { 
        background-image: none;
        margin-top: 20px;
    }
    
    
    #dexbody {
        width: 100%; 
        margin: 0; 
    }
    
    section.titulo-pokedex {
        grid-template-columns: 90px 30px 30px 30px 1fr 15px;
    }
    
    #dexball1{ 
        height: 60px;
        width: 60px;
        border: 5px solid white;
        margin-top: 20px;
        margin-left: 10px; 
    }
    
    #dexball2, 
    #dexball3, 
    #dexball4 {
        height: 22.5px;
        width: 22.5px;
        margin-top: 40px;
        margin-left: -10px; 
    }
    
    #logo-pokedex {
        width: 130px;
        margin-top: 25px ;
        margin-left: 10px;
    }
    
    #screen {
        
        width: 90%; 
        margin-bottom: 40px;  
    }
    
    .img-pokeball-background {
        right: 20px;
        top: 5px;
        width: 200px;
        height: 200px;
    }

    .poke-img-container {
        gap: 0;
    }

    .card-form {
        width: 95%;
        padding: 0 15px;
    }

    .stat-row {
        gap: 0;
    }

    .stat-number {
        width: 10%;
    }

    span.close {
        top: 0;
        right: 20px;
    }
}

@media (max-height: 550px){

    .stat-row {
        display: none;
    }
}


@media (max-width: 400px){
    #dexbody {
        padding: 0;
    }
    #dexball1{ 
        height: 50px;
        width: 50px;
        margin-top: 18px;
    }
    
    #dexball2, 
    #dexball3, 
    #dexball4 {
        height: 18px;
        width: 18px;
        margin-top: 35px;
        margin-left: -25px; 
    }

    #logo-pokedex {
        width: 100px;
        margin-left: -25px;
    }

    .poke-img {
        width: 120px;
        height: 120px;
    }

    .flechaderecha {
        margin-left: -10px;
    }

    .flechaizquierda {
        margin-right: -10px;
    }

    .poke-name {
        font-size: 1.5rem;
    }

    .img-pokeball-background {
        width: 150px;
        height: 150px;
    }

    .poke-id {
        font-size: 0.8rem;
    }

    .poke-height-weight {
        font-size: 10px;
    }

    .type {
        font-size: 14px;
    }

    .poke-stats {
        font-size: 10px;
        margin: 0 -5px;
    }

    .stat-bar {
        height: 10px;
    }

    .stat-desc {
        width: 55px;
    }

} 

@media (max-height: 420px){

    #dexbody {
        padding: 0;
    }
    #dexball1{ 
        height: 40px;
        width: 40px;
        border: 3px solid white;
        margin-top: 14px;
    }
    
    #dexball2, 
    #dexball3, 
    #dexball4 {
        height: 14px;
        width: 14px;
 
        margin-top: 30px;
        margin-left: -30px; 
    }

    #logo-pokedex {
        width: 80px;
        margin-left: -20px;
    }
    .pokemon-img-shiny-container {
        display: none;
    }

    .poke-height-weight {
        display: none;
    }

    .poke-types {
        display: none;
    }

    .poke-img-container {
        margin-bottom: 20px;
    }

    .poke-img {
        width: 100px;
        height: 100px;
    }

    .poke-name {
        font-size: 1rem;
        margin-bottom: 5px;
        padding-top: 5px;
    }

    #pokecard {
        overflow: hidden;
    }
}