@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* Estilos generales */

/* He solucionado el problema de que la imagen de fondo en el html se duplicaba en el body. Se cambia el 'height' a '100vh' */
body {
    background-image: linear-gradient(to top, #48c6ef 0%, #294ccc 100%);
    height: 100vh;
    display: flex; /*He creado para que todo el contenido dentro del body se centre horizontalmente y verticalmente, quedando en el centro de la pantalla.*/
    justify-content: center;
     font-weight: 600; /* He cambiado el 'font-weight' para que se vea mejor la fuente. Afectando a id, altura, peso y tipo de pokemon */
    flex-direction: column; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* He añadido el 'text-shadow' para que se vea mejor la fuente. Y tenga un 'blur' de 4px. */
}

/*He movido container por orden en el html*/

/* Estilo de pokedex y tamaño maximo delimitado*/
#dexbody {
    background: red;
    width: 90%; /* Se cambió el ancho a un porcentaje para hacerlo más adaptable */
    /* He quitado el heigth para que la pokedex no se deforme en la pantalla */
    max-width: 1000px; /*Se puso de maximo para que la pokedex no se deforme en la pantalla*/
    padding-top: 30px; /* Modificado para centrar el titulo de la pokedex.*/
    padding-bottom: 50px;
    margin: 50px auto; /* Se utiliza 'auto' para centrar horizontalmente y lo he juntado de 4 margins a 2 */
    border-radius: 8px;
    box-shadow: 14px 10px 14px 0 rgba(255, 255, 255, 0.3) inset,
      -6px -6px 10px 0 rgba(0, 0, 0, 0.25) inset;

}

/* Estilos para el titulo de la pokedex, luces mas logo pokedex */
header.titulo {
    display: grid;
    grid-template-columns: 150px 45px 45px 45px 1fr;
}

/* Estilos para el primer dexball, la mas grande. */
#dexball1 {
    /* background: rgb(242, 244, 255); */
    background: radial-gradient(
      circle,
      rgb(205, 255, 255) 10%,
      rgb(24, 36, 148) 60%
    );
    height: 80px;
    width: 80px;
    margin: auto;
    /* margin-top: -100px; */
    /* margin-left: 40px; */
    border-radius: 50px; /* He quitado cambiado todos los border-radius a 50px, ya que hacerlo cirlulo no era necesario 100px.*/
    border: 7px solid white; /* He reducido a 7px el border para que se vea mejor cuando la imagen se reduzca.*/
    
     /*! cambios en sombra*/

     box-shadow: 
         0 0 5px rgba(0, 0, 0, 0.462), 
         0 0 5px rgba(0, 0, 0, 0.462);
 }
    
    /* box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137); */

  
/* Estilos para los demas dexballs. */
#dexball2 {
  background: radial-gradient(circle, rgb(255, 129, 129) , #ff3c38 45%);
  height: 30px;
  width: 30px;
  margin: auto;
  /* margin-top: -65px; */
  /* margin-left: 160px; */
  border-radius: 50px; /* Igual que en el dexball1.*/
    
  /*! cambios en sombra*/

     box-shadow: 
         0 0 5px rgba(0, 0, 0, 0.462), 
         0 0 5px rgba(0, 0, 0, 0.462);
 


  /* box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137); */
}

#dexball3 {
    background: radial-gradient(
        circle,
        rgba(255, 254, 179, 1) 5%,
        rgba(251, 239, 76, 1) 45%
    );
    height: 30px;
    width: 30px;
    margin: auto;
    /* margin-top: -30px; lo he reducido para que queden alineados, el toc no podia jejej */
    /* margin-left: 210px; */
    border-radius: 50px;
    /*! cambios en sombra*/

    box-shadow: 
        0 0 5px rgba(0, 0, 0, 0.462), 
        0 0 5px rgba(0, 0, 0, 0.462);



    /* box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137); */
}

#dexball4 {
    background: radial-gradient(circle, rgb(179, 255, 204) 5%, #4ff017 45%);
    height: 30px;
    width: 30px;
    margin: auto;
    /* margin-top: -30px; /*Igual en que en el dexball3*/
    /*margin-left: 260px; */
    border-radius: 50px;

    /*! cambios en sombra*/

    box-shadow: 
        0 0 5px rgba(0, 0, 0, 0.462), 
        0 0 5px rgba(0, 0, 0, 0.462);


    /* box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137); */
}

/* Estilos para el logo de la pokedex, centrarlo, tamaño maximo y posicionarlo */
#logo-pokedex {
    width: 200px;
    margin-left: 15%;
}

/* Estilos para el contenedor el que contiene la pokedex */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

/* Estilos para la pantalla de la pokedex y el contorno negro estylo gameboy */
#screen {
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    width: 80%; /* define al ancho de la pokedex en su interior */
    max-width: 850px; 
    /* max-height: 700px;  */
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.329) inset,
        -3px -3px 3px 0 rgba(0, 0, 0, 0.25) inset;
}

/* Estilos para la pantalla de la pokedex */
#pokecard {
    background-color: #f5f5f5ff; /*He puesto un blanco hueso para mas sensacion de pantalla*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    width: 95%; 
}

/* He eliminado screen2 y teste, tambien los ids refrentes a #cut , #simbol. Que no tenian nada asigando a ellos.*/

/* Estilos para el input y botones */
form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: #ccc 1px solid;
}

.searchIcon {
    background: url(./assets/img/lupa.png) center / contain no-repeat #e62117;
}

.restartIcon {
        background: url(./assets/img/flecha.png) center / contain no-repeat #e62117;
}

/* Estilos para el campo de entrada */
input[type="text"] {
    /* margin-top: 5px;  revisar si es necesario en el responsive*/
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    /* Cuando esten hechos los botones con imagenes se tendra que modificar el tamaña del acnho para que se adapten mejor al espacio.*/
}

/* Estilos para los botónes */
button {
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el nombre */
#poke-name {
    font-size: 1.5rem; /*Cambiado a rem para que sea mas responsive*/
    font-weight: bold;
    margin-bottom: 15px; /* Aumentado 5px para que se vea mejor, en algun pokemon se ponia encima en la transformacion.*/
}

/* Main juntado con screen ya que es la misma referencia.*/

/* Estilos para la imagen */
#poke-img {
    width: 170px; 
    height: 170px;
}

/* Estilos para el ID */
#poke-id {
    font-size: 16px;
    color: #888;
    margin: 10px 0; /* Agragado un margen arriba por la misma razon que la imagen, que se ponia el pokemon encima.*/
}

/* Estilos para la altura y el peso */
#poke-height-weight {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

/*Estilos para los tipos*/
#poke-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Estilos contenedores para los tipos de pokemon */
.type {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;

}

/*Eliminado #poke-types div no era necesario */

/* Estilos para las estadísticas */
#poke-stats {
    max-width: 600px;
    text-align: left;
    /*Eliminado margin top ya que abajo esta definido*/
    color: #444;
    margin: 0 auto;
}

#poke-stats div {
    margin-bottom: 8px;
}

.stat-row {
    display: flex;
    /* Ekiminado align-items: center; Ya que hereda un aling left del contenedor.*/
    /*Eliminado el margin ya que en el anterior estaban definidos*/

}

.stat-bar {
    flex-grow: 1;
    margin-right: 10px;
    background-color: #ccc;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.bar-inner {
    height: 100%;
    background-color: #e62117;
}

.stat-desc, .stat-number {
    /* flex-shrink: 0; */
    font-weight: bold;
}

.stat-desc {
    width: 30%;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda el contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborda */
}

/* Estilos para el numero de estadisticas */
.stat-number {
    width: 5%;
    text-align: right;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 1.3rem; /*Reducido el tamaña para que se vea mejor*/
  }

@media (max-width: 600px){

body { 
    background-image: none;
    margin-top: 20px;
}


#dexbody {
    width: 100%; 
    border-radius: 0;
    margin: 0; 
}

header.titulo {
    grid-template-columns: 90px 30px 30px 30px 1fr;
}

#dexball1{ 
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 10px; 
}

#dexball2 {
    height: 22.5px;
    width: 22.5px;
    margin-top: 40px;
    margin-left: -10px; 
}
    
#dexball3 {
    height: 22.5px;
    width: 22.5px;
    margin-top: 40px;
    margin-left: -10px; 
}
    
#dexball4 {
    height: 22.5px;
    width: 22.5px;
    margin-top: 40px;
    margin-left: -10px; 
}

#logo-pokedex {
    width: 130px;
    margin-top: 25px ;
    margin-left: 10px;
}

#screen {
    
    width: 90%; 
    margin-bottom: 40px;  
}


}
