/* Estilo minimalista con colores por tipo para la Pokédex */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e62117;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#logo-pokedex {
    width: 150px;


}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e62117;
    color: white;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#pokecard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#poke-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#poke-img-container {
    background-color: #fff;
   
}

#poke-img {
    width: 170px; /* Cambia el tamaño de la imagen */
    height: 170px; /* Cambia el tamaño de la imagen */
}



#poke-id {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

#poke-height-weight {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

#poke-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

#poke-types div {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

/* Estilos para los diferentes tipos de Pokémon */
div[type="normal"] { background-color: #A8A878; }
div[type="fire"] { background-color: #F08030; }
div[type="water"] { background-color: #6890F0; }
div[type="electric"] { background-color: #F8D030; }
div[type="grass"] { background-color: #78C850; }
div[type="ice"] { background-color: #98D8D8; }
div[type="fighting"] { background-color: #C03028; }
div[type="poison"] { background-color: #A040A0; }
div[type="ground"] { background-color: #E0C068; }
div[type="flying"] { background-color: #A890F0; }
div[type="psychic"] { background-color: #F85888; }
div[type="bug"] { background-color: #A8B820; }
div[type="rock"] { background-color: #B8A038; }
div[type="ghost"] { background-color: #705898; }
div[type="dragon"] { background-color: #7038F8; }
div[type="dark"] { background-color: #705848; }
div[type="steel"] { background-color: #B8B8D0; }
div[type="fairy"] { background-color: #EE99AC; }

#poke-stats {
    text-align: left;
    margin-top: 20px;
    color: #444;
}

#poke-stats div {
    margin-bottom: 8px;
}

